html
  head
    title #{title}
    link(rel="stylesheet", href="/css/github-markdown.css")
    link(rel="stylesheet", href="/css/marknotes.css") 
  body
    div.markdown-body
      h1 #{title}
      | !{contents}
